.card {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 8px 0;
  align-items: start;

}

.heading {
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
}

p > img {
  height: 128px;
  width: 128px;
  float: left;
}
